{% extends 'base.html.twig' %}

{% block title %}Account - Hypnos{% endblock %}

{% block content %}
<div class="container">
    <h1>My account</h1>
    <p> Bienvenue {# {{ app.user.firstname }} #}</p>
    
    
    <a href="{{ path('account_password') }}">Modify password</a>
</div>

{% endblock %}
