{% extends 'base.html.twig' %}

{% block title %}Account - Hypnos{% endblock %}

{% block content %}
<header class="container">
    <h1>My account</h1>
    <h2>Welcome {{ app.user.firstname }} </h2>
    <a class='mb-5'href="{{ path('account_password') }}">Modify password</a>
</header>
<section>
    <div class="container mt-5">
        <p>Your booking history</p>
    </div>
</section>

{% endblock %}
