{% extends 'base.html.twig' %}

{% block title %}Modify password - Hypnos{% endblock %}

{% block content %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<div class="container">
    <h1>My account</h1>
    <p> Bienvenue</p>
    <a href="{{ path('account') }}">Account</a>
    <hr>
    {% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{form(form)}}
</div>


{% endblock %}