{% extends 'base.html.twig' %}

{% block title %}Welcome - Hypnos{% endblock %}

{% block content %}

{# Top section with photo  #}

  <section>
          <div class="container-fluid container-background">
          <img class='img-background' src="/images/background.jpg" alt="">
            <div class="text-centered">Welcome to Hypnos</div>
          </div>
  </section>

{# middle section with services #}

  <section class="middle-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-md-offset-2 col-xl-8 text-center">
          <h2>Explore our Services</h2>
          <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <p><img src="img/curve.svg" class="svg" alt=""></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service left-icon ">
            <div class="icon">
              <img src="images/icons/001-building.svg" class="svg-home" alt="">
            </div>
            <div class="text">
              <h3>7 Hotels in a World</h3>
              <p>Stay in one of our 7 hotels in France and Europe.</p>
            </div>  
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon">
            <div class="icon">
              <img src="images/icons/003-restaurant.svg" class="svg-home" alt="">
            </div>
            <div class="text">
              <h3>Food &amp; Drinks</h3>
              <p>The quality of our products are essential, we buy local and fresh</p>
            </div>  
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon">
            <div class="icon">
              <img src="images/icons/003-spa.svg" class="svg-home" alt="">
            </div>
            <div class="text">
              <h3>SPA</h3>
              <p>Do you like luxury? In each of our hotels you will also find a SPA.</p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>

  {# Section for redirect hotel #}
<section class="d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <div class="container">
      <div class="col-sm-12 col-md-12">
        <a href="/hotel"><button class="btn button-choose"> CHOOSE YOUR HOTEL </button></a>
      </div>
    </div>
  </div>
</section>
{% endblock %}