@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;1,400&display=swap');

/* Typography */
h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    font-weight: 200;
    font-family: 'Crimson Pro', serif;
    color: #000000;
}

/* Homepage */
.navbar {
    background-color: #fff;
}
.container-background {
    position: relative;
    text-align: center;
    color: #fff;
    padding: 0;
}
.img-background {
    width: 100%;
}
.text-centered {
    font-size: 2.5rem;
    font: bold;
    font-family: 'Crimson Pro', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1100px)  {
    .text-centered {
        font-size: 4rem;
        top: 40%;
    }
    .navbar-right {
        margin-right: 1rem;
    }
}

/* Middle section  Explore our service*/

.middle-section {
    padding: 3em 0;
    background-color: #fff;
}
.svg-home {
    width: 100%;
}
.service.left-icon .icon {
    width: 70px;
    position: relative;
    top: 0;
    display: table-cell;
}
.service.left-icon .text {
    display: table-cell;
    padding-left: 30px;
    vertical-align: top;
}
.service.left-icon .icon img {
    max-width: 100%;
}
.service {
    float: left;
    width: 100%;
    margin-bottom: 2rem;
}
.service.left-icon h3 {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 20px;
}

/* Button  Choose your hotel */
.button-choose {
    background: rgb(91, 142, 125);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,   Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-choose:hover {
    -webkit-box-shadow: 2px 2px 15px -4px #000000; 
    box-shadow: 2px 2px 15px -4px #000000;  
    transition-duration: .1s;
    color: #fff;

}

@media (min-width: 768px) {
.button-choose {
    padding: 0 2.6rem;
}
}

.btn-booking {
    background-color: rgb(0,54,128);
}

/* Footer */
.social-icon {
    width: 20px;
    height: 20px;
}

.col-social-icon {
    margin-top: 4rem;
    padding-top: 1rem;
}

/* --------------------------------- HOTEL PAGE ----------------------------- */

.banner-image {
    background-size: 100% auto;
    background-position: center;
}

.card-img-top {
    max-height: 290px;
}
.card-text {
    min-height: 179px;
    max-height: 179px;
}

.btn.btn-primary {
    border: 2px solid #903479;
    background: #903479;
    color: #fff;
}

/*----------------------------------ROOM PAGE ----------------------------------*/
.card-footer {
    background-color: #fff;
}

.link-room {
    width: 100%;
}
.price {
    font-size: 1.3rem;
    font-weight: bolder;
}

/* -------------------------------- CONTACT FORM ------------------------------ */
.section-icon-contact {
    list-style-type: none;
    padding-left: 0;
}

.section-icon-contact li img {
    margin: 0rem 1rem 0.4rem 0rem;
}