<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hypnos accor, find the best place to stay.">
        <meta name="keywords" content="Hypnos, It's always nice to sleep in a great bed'">

        <title>{% block title %}Welcome - Hypnos{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        {# Navbar section  #}
        <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <img src="/images/logo.png" alt="logo Hypnos" width="120" height="90">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTarget"
            aria-controls="navbarTarget" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTarget">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="#">Hotels</a>
                <a class="nav-link" href="#">Contact</a>
            </div>
            </div>
            <div class="navbar-nav">
            {% if app.user %}
                <div class="d-flex justify-content-end">
                    <a class="nav-link" href="{{ path('app_logout') }}"> Logout</a>
                </div>
            {% else %}
                <div class="d-flex justify-content-end">
                    <a class="nav-link" href="{{ path('app_login') }}"> Login</a>
                </div>
            {% endif %}
            </div>
        </div>
        </nav>
        {% endblock %}

        {% block content %}
        {# All the content  #}
        {% endblock %}
    </body>
</html>
